@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
  @apply bg-no-repeat;
  background-image: linear-gradient(
    120deg,
    rgba(102, 233, 245, 0.5) 0%,
    rgba(102, 233, 245, 0.5) 100%
  );
  background-size: 100% 16px;
  background-position: 0 68%;
  padding: 0 8px;
  margin: 0 -4px;
}

.highlight-sm {
  @apply bg-no-repeat;
  background-image: linear-gradient(
    120deg,
    rgba(102, 233, 245, 0.5) 0%,
    rgba(102, 233, 245, 0.5) 100%
  );
  background-size: 100% 10px;
  background-position: 0 68%;
  padding: 0 4px;
  margin: 0 -2px;
}

.highlight-xs {
  @apply bg-no-repeat;
  background-image: linear-gradient(
    120deg,
    rgba(102, 233, 245, 0.2) 0%,
    rgba(102, 233, 245, 0.2) 100%
  );
  background-size: 100% 5px;
  background-position: 0 68%;
  padding: 0 3px;
  margin: 0 -1px;
}
